.container {
  position: fixed;
  top: 0;
  width: 390px; /* 또는 다른 값으로 넓이를 조정하세요 */
  height: 10%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  
}



.title_container {
  height: 50%;
  width: 358px;
  border-bottom: rgb(203, 201, 201) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 16px;

}


.nav_container {
  height: 50%;
  width: 358px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center ;
  align-items: center;
  padding: 0px 16px;
  font-weight: 700;
}

.sub_nav{
  margin: 2%;
}




  
  .rightButtonContainer {
  display: flex;
  gap: 6px;
  align-items: center;
  }
  
  .roundButton {
  border-radius: 20px;
  background: linear-gradient(90deg, #0094FF 0%, #0046FF 114.29%);
  padding: 10px 14px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  }
  
  .circleButton {
  background-color: #EAECEF;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }

